@model IEnumerable<BLL.Classes.Person>

@{
    ViewBag.Title = "TelephoneBook";
}

<h2>TelephoneBook</h2>

<p>
    @Html.ActionLink("Add New", "AddPerson")
</p>
<table class="table">
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.ID)
        </td>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telephone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BirthYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telephone)
        </td>
    </tr>
}

</table>
