@using FileManager.Models
@model List<Person>


@{
    ViewBag.Title = "Index";
}

<h3>List of persons at telephone book</h3>

<input type="submit" value="Add person at book" onclick="location.href='@Url.Action("Add", "Book")'" />
<input type="submit" value="Search" onclick="location.href='@Url.Action("Search", "Book")'" />

<hr />

<table class="table">
    <tr>
        <th> First name </th>

        <th>
            <input type="submit" value="Last name" onclick="location.href='@Url.Action("SortByLastName", "Book")'" />
        </th>

        <th>
            <input type="submit" value="Birth year" onclick="location.href='@Url.Action("SortByYear", "Book")'" />
        </th>

        <th> Phone number </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
        </tr>
    }


</table>
